.contact-methods {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.contact-method {
  display: flex;
  align-items: center;
}

.contact-icon {
 margin-top: 1rem;
  display: flex;
  align-items: center;
  fill: #d4d4d4;
  border-radius: 0.5rem;
}

.contact-icon:hover {
  fill: #0a66c2;
  background: white;
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    padding: 0;
  }
  
  .contact-methods {
    padding: 0;
  }
  
  .contact-method {
    padding-right: 1rem;
  }
  
  .contact-icon {
    align-items: flex-start;
  }
}
