.contact-methods {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.contact-method {
  display: flex;
  align-items: center;
}

.contact-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
}

.contact-link:hover .contact-icon {
  background: #2563eb;
}

.contact-link:hover .contact-icon svg {
  stroke: #ffffff;
  fill: #ffffff; 
}

.contact-link-linkedin:hover .contact-icon {
  background: #0a66c2;
}

.contact-link-linkedin:hover .contact-icon svg {
  fill: #ffffff;
  stroke: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    padding: 0;
  }
  
  .contact-methods {
    padding: 0;
  }
  
  .contact-method {
    padding-right: 1rem;
  }
  
  .contact-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
